# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# OS generated
Thumbs.db
Desktop.ini
.DS_Store

# Medición temporal / profilers
*.prof
*.lprof
mprofile_*.dat
